<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Bienvenue{% endblock %}</title>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				{% stylesheets filter='cssrewrite, lessphp, ?yui_css' output='css/global.css'
	  				'bundles/main/less/land.less'
	  				'bundles/main/less/menu.less'
	  			%}
	  				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	  			{% endstylesheets %}
	  			{% block stylesheets %}
				{% endblock %}
			<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>

	<body>
    	<noscript style='width:100%; position: fixed;z-index: 1000000000000000000;font-size: 30px;background-color: red;text-align: center;top: 82px;'>
			Attention, Javascript est désactivé.
        </noscript>

        	<div id='masterContainer'>
        		<div class='navTrigger opened'>
				    <li class='line'></li>
				    <li class='line'></li>
				    <li class='line'></li>
				</div>
        		<div id='container'>
	        		{{ include("Global/menu.html.twig") }}
		        	<div id='main'>
						{% block body %}
							
						{% endblock %}
					</div>
				</div>
			</div>
	    <footer>
	    	
	    </footer>
	</body>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		{% javascripts 'bundles/main/js/menu.js' filter='?yui_js'%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% block javascripts %}{% endblock %}
		<!--[if lt IE 9]> 
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
</html>