{% extends "ReleaseLandingBundle::layout.html.twig" %}

{% block stylesheets %}
	{% stylesheets filter='cssrewrite, lessphp, ?yui_css' output='css/compiled.css'
		'bundles/releaselanding/less/landing.less'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block title %}
  Accueil 
{% endblock %}

{% block section %}
	<section>
		<div id='mainHome'>
		</div>
		<div id='menuHome'>
			<div id='recruitment'>
			</div>
			<div id='news'>
			</div>
			<div id='team'>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{% javascripts filter='?yui_js'
		'bundles/releaselanding/js/landing.js' 
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}