{% extends "ReleaseLandingBundle::layout.html.twig" %}

{% block stylesheets %}
	{% stylesheets filter='cssrewrite, lessphp, ?yui_css' output='css/compiled.css'
		'bundles/releaselanding/less/team.less'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block title %}
	Notre équipe 
{% endblock %}

{% block section %}
<section>
	<div class='classContainer'>
		<div class='machinistLogo'></div>
	</div>
	<div class='teamContainer'>
		<div class='lineContainer'>
			<div class='lineUp'></div>
			<div class='lineObl'></div>
			<div class='lineDown'></div>
		</div>
		<div class='teamText'>
			<h5>L'EQUIPE RELEASE</h5>
			<p>Par ce qu'une compagnie libre n'est rien sans ses membres, n'hésitez pas à jeter un oeil aux profils de chacun d'entre eux afin d'en apprendre plus.</p>
		</div>
		<div class='playerContainer player1'></div>
		<div class='playerContainer player2'></div>
		<div class='playerContainer player3'></div>
		<div class='playerContainer player4'></div>
		<div class='playerContainer player5'></div>
		<div class='playerContainer player6'></div>
		<div class='playerContainer player7'></div>
		<div class='playerContainer machinist'></div>
	</div>
</section>
{% endblock %}

{% block javascripts %}
	{% javascripts filter='?yui_js'
		'bundles/releaselanding/js/team.js' 
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}