<header>
    <div class='navTrigger opened'>
        <li class='line'></li>
        <li class='line'></li>
        <li class='line'></li>
    </div>
    <nav id='menu'>
        <ul id='mainMenu' class='container'>
            <li class='row homeLink'>
                <div class="col s12 innerMenu">
                    <div class='showBigMenu'>
                        <p>HOME</p>
                    </div>
                    <div class='hideBigMenu'>
                        <p class='descHiden'>Retour à l'accueil</p>
                        <p class='arrowHiden'> > </p>
                    </div>
                </div>
            </li>
            <li class='row forumLink'>
                <div class="col s12 innerMenu">
                    <div class='showBigMenu'>
                        <p>FORUM</p>
                    </div>
                    <div class='hideBigMenu'>
                        <p class='descHiden'>Créons, partageons enssemble</p>
                        <p class='arrowHiden'> > </p>
                    </div>
                </div>
            </li>
            <li class='row galerieLink'>
                <div class="col s12 innerMenu">
                    <div class='showBigMenu'>
                        <p>GALERIE</p>
                    </div>
                    <div class='hideBigMenu'>
                        <p class='descHiden'>Un historique en images</p>
                        <p class='arrowHiden'> > </p>
                    </div>
                </div>
            </li>
            <ul class='row smallRow'>
                <li class="col s6 l4 ressource">
                    <span><p>RESSOURCES</p></span>
                </li>
                <li class="col s6 l4 fflog">
                    <span></span>
                </li>
                <li class="col s6 l2 register">
                    <div>
                        <i class="large material-icons">assignment</i>
                        <p>REGISTER</p>
                    </div>
                </li>
                <li class="col s6 l2 login">
                    <div>
                        <i class="large material-icons">input</i>
                        <p>LOGIN</p>
                    </div>
                </li>
            </ul>
        </ul>
    </nav>
</header>